<!DOCTYPE html>
<html>
<head>
</head>
<body style="{{{style.body}}}">
  <p>
    {{userName}} ({{userEmail}}) deleted their account and the their teams:
    {{teamNames}}
  </p>
  <p>
    Reason: <em>"{{reason}}"</em>
  </p>
</body>
</html>
