<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <p>
    Hi {{{name}}},
  </p>
  <p>
    {{adminName}} has invited your to join the {{teamName}} on Timezone.io.
    Timezone.io is an app that helps keep track of where and when your teammates
    are. Now it's helping the {{teamName}} coordinate tricky meeting times across multiple timezones.
  </p>
  <p>
    <a href="{{{inviteUrl}}}">Click here to join {{teamName}}</a>
  </p>
  <p>
    Dan from <a href="http://timezone.io">Timezone.io</a>
  </p>
  <p>
    <small><em>If this email has been sent in error, please disregard it or unsubscribe below</em></small>
  </p>
</body>
</html>
